{% extends "app_principal/layout.html" %}

{% block titulo %} Texto para Morse {% endblock %}

{% block mudar %} 
<a style="color: #FBF5F3 !important" class="nav-link active" href="/inverso/">Limpar</a>
<a style="color: #FBF5F3 !important" class="nav-link active" href="/">Morse para Texto</a>
{% endblock %}

{% block form %}
<form onsubmit="return minha_func()" method="post" action="/inverso/" id="form"> 
{% endblock %}

{% block tag_h1 %} 
<h1 class="cover-heading" style="margin-bottom: 25px;  color: #F0F0C9 !important;" id="bemVindos">Bem-vindos ao <br> Tradutor de Texto</h1>
{% endblock %}

{% block tag_input %}
<input class="lead" type="text" id="texto" name="texto" style="margin-right: 10px;">
{% endblock %}
